<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container forCentering">
    <h1 class="display-4 heading">
      Welcome to Awesome Blogs!
    </h1>
    <p class="forSpacing">
      Here you can register and store your own blogs, or browse other people's blogs.
    </p>
    <p>
      <a class="btn btn-primary btn-lg forSpacing" href="/user/register" role="button">
        Register now »
      </a>
    </p>
  </div>
</div>

<!-- /container -->

<style>
  .heading{
    font-weight: 600;
  }
  .forCentering{
    text-align: center;
  }
  .forSpacing{
    margin-top: 12px;
  }
</style>